/* Group 4 css for CTM project */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0px;
    background-color:#ffff
}
#top{
    color:rgb(210, 121, 216);
    text-align: center;
    background-color: #fffae1;
    margin: 0px;
    padding: 10px;
    
}

.signupLink { 
    margin: 20px;
    background-color:#fffae1; 
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.signupLink:hover { 
    background-color: #e0d49f;
}

#img{
    margin-right: 50px;
}
#title, #index{
    text-align: center;
    color:rgb(210, 121, 216);
}
.content h2{
    color:rgb(210, 121, 216);
    margin-top: 10px;
}
#nav{
    padding:20px;
    background-color:rgb(227, 165, 232);
    text-align: center;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.navlink{
    font-size: 20px;
    background-color:rgb(227, 165, 232);
    padding: 20px;
    text-decoration: none;
    color: #fff3b9;
    
}
.navlink:hover{
    background-color: rgb(251, 255, 218);
    color:rgb(227, 165, 232);

}
.content{
    margin: 10px;
}

#createAccForm { 
    margin: 20px;
    display: flex;
    width: 25%;
    flex-direction: column; 
}

.partners{
    display: flex;
    justify-content: center;
}
.tile{
    color:#fff3b9;
    text-align: center;
    margin:10px;
    width:30%;
    background-color:rgb(227, 165, 232);
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile:hover{
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(251, 255, 218);
    color:rgb(227, 165, 232);
}

#footer{
    background-color: rgb(227, 165, 232);
}

#icons{
    text-align: center;
}
